.item{
    padding: 12px 18px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    background: #F2F4F7;
    border-radius: 100px;
    &_text{
        font-weight: 500;
        font-size: 16px;
    }
}